$primaryColor: #32518d;
$secondaryColor: #838ff5;
$thirdColor: blue;
$iconColor: #23467d;
$grey: grey;
$darkGrey: rgb(99, 98, 98);
$lightGrey: #696969;
$backgroundLight: #f9f8fe;
$linearGradient: linear-gradient(to right, #30cfd0 0%, #330867 100%);
$linearGradientDarkMode: linear-gradient(to left top, #404c70 0%, #191e33 100%);
$linearGradientDarkModeCards: linear-gradient(
	to left top,
	#232843cb 0%,
	#14162a 100%
);
