@import "../../styles/vars";
@import "../../styles/mixins";

.lobby-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 3rem 0 3rem;
  h1 {
    @include principal-font;
    color: $text-color;
    font-size: 2rem;
  }
}
.lobby-gamer {
  @include secondary-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 3rem 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h4 {
    color: $primary-color;
    margin-bottom: 1.5rem;
  }

  .gm-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    .gm-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .gamer-img {
        height: 3rem;
        width: 3rem;
        background-color: $random;
        border: 2px solid $gm-color;
        border-radius: 0.5rem;
        margin: 1rem;
      }
    }
  }
  .gamer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    .gc-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      .gamer-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .gamer-img {
          height: 3rem;
          width: 3rem;
          background-color: $random;
          border: 2px solid $g-color;
          border-radius: 0.5rem;
          margin: 1rem;

          &.user {
            border: 2px solid $user-color;
          }
        }
      }
    }

    .legend {
      margin-top: 2rem;
      @include principal-font;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        li {
          list-style: none;
          margin: 0 0.5rem;
          font-size: 0.75rem;
          &#gm-color {
            color: $gm-color;
          }
          &#g-color {
            color: $g-color;
          }
          &#user-color {
            color: $user-color;
          }
        }
      }
    }
  }
}
