@use "../../styles/vars" as v;
@use "../../styles/mixins" as m;

.game-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;

  .timer {
    height: 3rem;
    width: 3rem;
    border: 2px solid v.$primary-color;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      @include m.principal-font;
      color: v.$primary-color;
    }
  }

  .game-box {
    height: 20rem;
    width: 20rem;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
    margin-top: 3rem;

    .media {
      img {
        height: 10rem;
      }
    }
    .question {
      p {
        @include m.secondary-font;
        color: v.$text-color;
        font-size: larger;
      }
    }

    input {
      background-color: v.$bg-color;
      border: 1px solid v.$primary-color;
      border-radius: 0.5rem;
      color: v.$primary-color;
      @include m.principal-font;
      font-size: larger;
    }
  }
  .lvl-box {
    margin: 3rem 0.5rem;
    height: 1rem;
    width: 90%;
    border: 1px solid v.$g-color;
    border-radius: 0.5rem;
    .lvl-border {
      height: 1rem;
      width: 50%;
      background-color: v.$g-color;
      border-radius: 0.5rem;
    }
  }
}
