@use "./styles/vars" as v;
@use "./styles/mixins" as m;

body {
  background-color: v.$bg-color;

  main {
    padding: 7rem 0;

    @include m.desktop-only {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
