@use "../../styles/vars" as v;
@use "../../styles/mixins" as m;

#progress {
	max-width: 400px;
	margin: 0 auto;
	width: 80%;
	@include m.desktop-only {
		width: 100%;
		// position: absolute;
		bottom: 6rem;
	}
}

/**
 * Progress Bar styles
 */
.progress-bar {
	width: 100%;
	margin: 3rem 0.5rem;
}

.progress-bar__bar {
	border-radius: 20px;
	height: 20px;
	background-color: #31383f;
	margin-bottom: 14px;
	border: 2px solid v.$primary-color;
}

.progress-bar__progress {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	min-width: 15px;
	height: 20px;
	border-radius: 20px;
	// box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
	// transition: background-color 0.3s ease;
	transition: 1s ease 0.3s;
	width: 0;
	opacity: 0;
}

.progressLegend {
	margin-top: 0.5rem;
	@include m.principal-font;

	@include m.desktop-only {
		grid-column: 1 / 3;
	}

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			list-style: none;
			margin: 0 0.5rem;
			font-size: 0.75rem;
		}
	}
	&__one {
		color: rgb(146, 194, 25);
	}
	&__two {
		color: rgb(224, 224, 47);
	}
	&__three {
		color: orange;
	}
}

.levelOne {
	background-color: rgb(146, 194, 25);
}

.levelTwo {
	background-color: rgb(224, 224, 47);
}

.levelThree {
	background-color: orange;
}
