@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");

.footer {
  font-family: "Iceland", sans-serif;
  background-color: #48d4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: fixed;
  // bottom: 0;
  height: 3rem;
  width: 100%;
}
